{# cart.html #}

{% extends 'client/base.html' %}

{% load static %}

{% block title %}
    Cart - Restaurant System
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        {% include 'client/_nutritions.html' %}

        <h2>Your Cart</h2>
        <div id="cartItems">
        </div>
        <div class="text-right mt-3">
            <h4><span id="cartTotalRes"> <!-- Place for Total Price, .js file -->  </span></h4>
            <div id="paymentTypeContainer" class="form-group mb-3">
                <select id="paymentType" class="form-control">
                    <option value="">Payment Type</option>
                    <option value="cash" {% if request.user.role != "table" %}selected{% endif %}>Cash</option>
                    <option value="card">Card</option>
                    <option value="qr">QR</option>
                </select>
            </div>
            <div id="promoCodeContainer" class="form-group mb-3">
                <div class="input-group">
                    <input type="text" id="promoCode" class="form-control" placeholder="Enter promo code">
                    <div class="input-group-append">
                        <button id="checkPromoButton" class="btn btn-outline-secondary">Check</button>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="{% url 'home' %}" class="btn btn-success">Choose more</a>
                <button id="checkoutButton" class="btn btn-primary">Proceed to Checkout</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'js/client/cart.js' %}"></script>
{% endblock %}