.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-img-top.product-image {
    width: 100%;
    height: 200px; /* Фиксированная высота */
    object-fit: cover; /* Сохраняет пропорции изображения */
}

@media (min-width: 768px) {
    .card-img-top.product-image {
        height: 250px; /* Увеличиваем высоту на больших экранах */
    }
}

@media (min-width: 992px) {
    .card-img-top.product-image {
        height: 300px; /* Еще больше увеличиваем высоту на очень больших экранах */
    }
}

.product-card {
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-text {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* количество строк */
    -webkit-box-orient: vertical;
}

.card-body {
    display: flex;
    align-items: stretch;
}

.ingredient-info {
    flex-grow: 1;
    padding-right: 15px;
}

.ingredient-image-container {
    width: 100px;
    display: flex;
    align-items: center;
}

.ingredient-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.custom-add-container {
    display: flex;
    flex-direction: column-reverse;
}

.custom-add-image-container {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}

.custom-add-image {
    width: 150px;
    height: auto;
    object-fit: cover;
    border-radius: 80px;
}

.custom-add-info {
    display: flex;
    flex-direction: column;
}

@media (min-width: 100px) {
    .custom-add-container {
        flex-direction: row;
    }

    .custom-add-image-container {
        margin-bottom: 20px;
        margin-left: 250px;
    }
}

.drink-item {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
}

.drink-item img {
    max-width: 100%;
    height: auto;
}

.drink-item .nutrients span {
    margin-right: 10px;
}

.drink-item .price {
    font-weight: bold;
    margin-right: 10px;
}