{# custom_meal.html #}

{% extends 'base.html' %}
{% load static %}

{% block title %}Create Custom Meal - Restaurant System{% endblock %}

{% block content %}
    <div class="container">
        <h2>Create Custom Meal</h2>

        <!-- Order Summary for custom meal -->
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Custom Meal Summary</h5>
                <div class="row">
                    <div class="col-md-3">
                        <p class="card-text">Total: <span id="totalPrice">0.00</span> IDR</p>
                        <p class="card-text">kCal: <span id="totalKcal">0</span></p>
                    </div>
                    <div class="col-md-3">
                        <p class="card-text">Fat: <span id="totalFat">0</span>g</p>
                        <p class="card-text">Saturated Fat: <span id="totalSaturatedFat">0</span>g</p>
                    </div>
                    <div class="col-md-3">
                        <p class="card-text">Carbs: <span id="totalCarbs">0</span>g</p>
                        <p class="card-text">Sugar: <span id="totalSugar">0</span>g</p>
                    </div>
                    <div class="col-md-3">
                        <p class="card-text">Fiber: <span id="totalFiber">0</span>g</p>
                        <p class="card-text">Protein: <span id="totalProtein">0</span>g</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Selected ingredients list -->
        <ul id="selectedIngredients"></ul>
        <button id="addToOrderBtn" class="btn btn-success mt-3" disabled>Add to Order</button>
        <br>
        <br>

        <!-- Sorting options -->
        <div class="mb-4">
            <h5>Sort ingredients by:</h5>
            <select id="sortIngredients" class="form-select">
                <option value="protein">Highest Protein</option>
                <option value="fat">Highest Fat</option>
                <option value="carbs">Highest Carbs</option>
                <option value="sugar">Highest Sugar</option>
                <option value="fiber">Highest Fiber</option>
            </select>
        </div>

        <!-- List of ingredients -->
        <div id="ingredientList" class="row">
            <!-- Ingredients will be dynamically inserted here -->
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'js/custom_meal.js' %}"></script>
{% endblock %}