{# home.html #}

{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row mb-4">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Order Summary</h5>
                        <div class="d-flex justify-content-between">
                            <p class="mb-0">Total: <span id="totalPrice">0</span> IDR</p>
                            <p class="mb-0">kCal: <span id="totalKcal">0</span></p>
                            <p class="mb-0">Fat: <span id="totalFat">0</span>g</p>
                            <p class="mb-0">Saturated Fat: <span id="totalSaturatedFat">0</span>g</p>
                            <p class="mb-0">Carbs: <span id="totalCarbs">0</span>g</p>
                            <p class="mb-0">Sugar: <span id="totalSugar">0</span>g</p>
                            <p class="mb-0">Fiber: <span id="totalFiber">0</span>g</p>
                            <p class="mb-0">Protein: <span id="totalProtein">0</span>g</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-link active" id="dishes-tab" data-bs-toggle="pill" href="#dishes" role="tab">Dishes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="drinks-tab" data-bs-toggle="pill" href="#drinks" role="tab">Drinks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'custom_meal' %}">Create Custom Meal</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="dishes" role="tabpanel">
                <h2>Dishes</h2>
                <div id="dishesList" class="row"></div>
            </div>
            <div class="tab-pane fade" id="drinks" role="tabpanel">
                <h2>Drinks</h2>
                <div id="drinksList" class="row"></div>
            </div>
        </div>
    </div>

    <div id="productModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Product Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'js/menu.js' %}"></script>
{% endblock %}