{# _navbar.html #}

<div class="top-nav">
    <div class="nav-container">
        <div class="left-side">
            <a href="{% url 'home' %}" class="home-link">Home</a>
        </div>
        <div class="center-links">
            <a href="{% url 'orders_manage_control' %}">Orders Control</a>
            <a href="{% url 'orders_manage_all' %}">Orders All</a>
{#            <a href="{% url 'product_management' %}">Products</a>#}
            <a href="{% url 'ingredient_management' %}">Ingredients</a>
            {% if user.role == "owner" %}
                <a href="{% url 'kitchen' %}">Kitchen</a>
            {% endif %}
        </div>
        <div class="right-side">
            <a href="{% url 'logout' %}" class="logout-link">Logout</a>
        </div>
    </div>
</div>