{# _navbar.html #}

<div class="top-nav">
    <div class="nav-container">
        <div class="left-side">
            <a href="{% url 'home' %}" class="home-link">Home</a>
            {% if user.is_superuser %}
                | <a href="{% url 'admin:index' %}" class="home-link" target="_blank">Admin</a>
            {% endif %}
        </div>
        <div class="center-links">
            <a href="{% url 'orders_control' %}">Orders Control</a>
            <a href="{% url 'orders_control_all' %}">Orders All</a>
            <a href="{% url 'ingredients_control' %}">Ingredients</a>
             <a href="{% url 'products_control' %}">Products</a>
            {% if user.role == "owner" or user.role == "administrator" %}
                <a href="{% url 'promo_control' %}">Promo</a>
                <a href="{% url 'kitchen' %}">Kitchen</a>
            {% endif %}
        </div>
        <div class="right-side">
            {% if user.role == "owner" %}
                <a href="{% url "history" %}" class="logout-link">History</a> |
            {% endif %}
            <a href="{% url 'logout' %}" class="logout-link">Logout</a>
        </div>
    </div>
</div>