{# ingredients.html #}

{% extends 'manage/base.html' %}

{% load static %}

{% block title %}Ingredients Control{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/manage/ingredients.css' %}">
{% endblock %}

{% block navbar %}
    {% include "manage/_navbar.html" %}
{% endblock %}

{% block content %}
    {% include "manage/_ingredients_content.html" %}
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'js/manage/ingredients.js' %}"></script>
{% endblock %}