{# kitchen_orders.html #}

{% extends 'manage/base.html' %}

{% load static %}

{% block title %}Kitchen Orders{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/manage/kitchen.css' %}">
{% endblock %}

{% block navbar %}
    {% include "manage/_navbar_kitchen.html" %}
{% endblock %}

{% block content %}
    <main>
        <section id="ordersSection" class="section active">
            <div id="ordersList" class="orders-grid"></div>
        </section>
    </main>

    <!-- Order Details Modal -->
    <div id="orderModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="orderDetails"></div>
            <button id="orderReadyBtn" class="ready-btn">Mark as Ready</button>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'external/masonry/masonry_4.js' %}"></script>
    <script type="module" src="{% static 'js/manage/kitchen.js' %}"></script>
{% endblock %}