{# orders_all.html #}

{% extends 'manage/base.html' %}

{% load static %}

{% block title %}All Orders{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/manage/orders.css' %}">
{% endblock %}

{% block navbar %}
    {% include "manage/_navbar.html" %}
{% endblock %}
{% block content %}
    <!-- Фильтры сверху -->
    <div class="row mb-4">
        <div class="col-12">
            <div class="row">
                <div class="col-md-3 mb-3">
                    <input type="text" id="searchInput" placeholder="Search by Order ID" class="form-control">
                </div>
                <div class="col-md-3 mb-3">
                    <select id="statusFilter" class="form-select">
                        <option value="">Order Status</option>
                        <option value="pending">Pending</option>
                        <option value="cooking">Cooking</option>
                        <option value="ready">Ready</option>
                        <option value="finished">Finished</option>
                        <option value="cancelled">Cancelled</option>
                        <option value="problem">Problem</option>
                    </select>
                </div>
                <div class="col-md-3 mb-3">
                    <select id="paymentTypeFilter" class="form-select">
                        <option value="">Payment Type</option>
                        <option value="cash">Cash</option>
                        <option value="card">Card</option>
                        <option value="qr">QR</option>
                    </select>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="toggle-switch-container">
                        <input type="checkbox" id="isPaidFilter" class="toggle-switch-checkbox">
                        <label class="toggle-switch-label" for="isPaidFilter">
                            <span class="toggle-switch-inner"></span>
                            <span class="toggle-switch-switch"></span>
                        </label>
                        <span class="toggle-switch-text">Paid Orders</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <input type="text" id="tableIdFilter" placeholder="Search by User ID" class="form-control">
                </div>
                <div class="col-md-3 mb-3">
                    <select id="orderTypeFilter" class="form-select">
                        <option value="">Order Type</option>
                        <option value="offline">Offline</option>
                        <option value="takeaway">Take Away</option>
                        <option value="online">Online</option>
                    </select>
                </div>
                <div class="col-md-3 mb-3">
                    <input type="text" id="paymentIdFilter" placeholder="Search by Payment ID" class="form-control">
                </div>
                <div class="col-md-3 mb-3">
                    <div class="toggle-switch-container">
                        <input type="checkbox" id="isRefundedFilter" class="toggle-switch-checkbox">
                        <label class="toggle-switch-label" for="isRefundedFilter">
                            <span class="toggle-switch-inner"></span>
                            <span class="toggle-switch-switch"></span>
                        </label>
                        <span class="toggle-switch-text">Refunded Orders</span>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-3 mb-3"></div>
                <div class="col-md-3 mb-3">
                    <select id="sortBy" class="form-select">
                        <option value="">Newest First</option>
                        <option value="created_at_asc">Older First</option>
                    </select>
                </div>

                {% if user.role == "owner" or user.role == "administrator" %}
                    <div class="col-md-3 mb-3"><input type="date" id="filterDate" class="" value=""/></div>
                    <div class="col-md-3 mb-3">
                        <button id="clearFilters" class="btn btn-outline-secondary">Clear Filters</button>
                    </div>
                {% else %}
                    <div class="col-md-3 mb-3">
                        <button id="clearFilters" class="btn btn-outline-secondary">Clear Filters</button>
                    </div>
                    <div class="col-md-3 mb-3"></div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Заказы -->
    <div class="row">
        <div class="col-12">
            <div id="allOrders" class="row">
                <!-- All orders will be dynamically inserted here -->
            </div>
        </div>
    </div>
    </div>

    <!-- Order Details Modal -->
    {% include "manage/_orders_modal_window.html" %}
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'js/manage/orders_all.js' %}"></script>
    <script>window.currentUserRole = "{{ user.role }}";</script>
{% endblock %}