{# orders_control.html #}

{% extends 'manage/base.html' %}

{% load static %}

{% block title %}Orders control{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/manage/orders.css' %}">
{% endblock %}

{% block navbar %}
    {% include "manage/_navbar.html" %}
{% endblock %}
{% block content %}
    <div class="row h-100">
        <div class="col-6 h-100">
            <div class="card h-100">
                <div class="card-header">
                    <h3>Pending Orders for Payment</h3>
                </div>
                <div class="card-body p-2">
                    <div id="pendingOrders" class="orders-container">
                        <!-- Pending orders will be dynamically inserted here -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 h-100">
            <div class="card h-100">
                <div class="card-header">
                    <h3>Ready Orders for Delivery</h3>
                </div>
                <div class="card-body p-2">
                    <div id="readyOrders" class="orders-container">
                        <!-- Ready orders will be dynamically inserted here -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Order Details Modal -->
    {% include "manage/_orders_modal_window.html" %}
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'js/manage/orders_control.js' %}"></script>
    <script>window.currentUserRole = "{{ user.role }}";</script>
{% endblock %}