{# nutritions.html #}

<div class="row mb-4">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <p class="mb-0">Calories: <span id="nutritionSummaryCalories">0</span></p>
                    <p class="mb-0">Fats: <span id="nutritionSummaryFats">0</span>g</p>
                    <p class="mb-0">Saturated Fats: <span id="nutritionSummarySaturatedFats">0</span>g</p>
                    <p class="mb-0">Carbohydrates: <span id="nutritionSummaryCarbohydrates">0</span>g</p>
                    <p class="mb-0">Sugars: <span id="nutritionSummarySugars">0</span>g</p>
                    <p class="mb-0">Fiber: <span id="nutritionSummaryFiber">0</span>g</p>
                    <p class="mb-0">Proteins: <span id="nutritionSummaryProteins">0</span>g</p>
                </div>
            </div>
        </div>
    </div>
</div>